# Python
__pycache__/
*.py[cod]

# Virtual Environment
.venv/
venv/

# VS Code
.vscode/

# Environment Variables
.env

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db

# Generated feeds
data/feeds/*.csv